.git
.gitignore
.DS_Store
.env
.env.*

**/node_modules
web-admin
experiments
notebooks
tests
data
dist
build
coverage

**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env

*.log
*.pid
