# --- Project Specific Data (Don't commit these!) ---
temp_ingest/
temp_search/
metadata.db
metadata.db-journal
vectors.npy
ids.npy
*.wav
*.mp4
*.exe

# --- Python ---
__pycache__/
*.pyc

# --- Environment ---
.venv/
venv/
env/

# --- IDE Settings ---
.idea/
.vscode/

# --- OS Specific ---
.DS_Store